
(identifier) @variable


; Literals

(character) @string
(character_modifier) @number

[
  (integer)
] @number

[
 <-KEYWORDS->
] @keyword

[
	(preprocessor)
	(preprocessor_directive)
	(line_comment)
	(block_comment)
] @comment
